.container1 {
  padding-top: 100px;
  background-color: #090b1a;
  position: relative;
  height: 690px;

}

.container2 {
  background-color: #000000;
  padding-top: 50px;
  padding-bottom: 100px;
  text-align: center;


}

.container3 {
  background-color: #11091c;
  padding: 25px 0 40px 0;
  text-align:center;


}

p {
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #9c9c9c;
    line-height: 2;
    font-size: 25px;
    transition: color 0.3s;
}
p:hover{
  color: #e1e2eb;
}

body {
  margin: 0;

}

h1 {
  margin: 0 auto;

  font-family: 'Dancing Script', cursive;
  font-size: 90px;
  color: #e9e8ff;
  margin-top: 50px;
  font-weight: normal;
  text-align: center;
  transition: color 0.6s, font-weight 0.4s;
}
h1:hover{
  color:#ffffff;
  font-weight: 100;
}

h2 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #bdbdbd;
    font-weight: 700;
    font-size: 50px;
    transition: color 0.3s;
}
h2:hover{
  color:white;
}

h3 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
color: #bdbdbd;
text-align: left;
transition: color 0.4s;
font-size: 30px;
}
h3:hover{
 color: #ffffff;
}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 230px;
  top: 360px;
}
.mountainpng{
  position: relative;
  top: 110px;
margin: 0 auto;
display: block;

}

.codingpng{

  width: 25%;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
  position: relative;
  top: 20px;
  transition: position 0.2s;
}
.codingpng:hover{
top: 15px;
}
.vfxpng{
  width: 25%;
  float: right;
  margin-left: 30px;
    margin-bottom: 30px;
    position: relative;
    top: 20px;
      transition: position 0.2s;
}
.vfxpng:hover{
top: 15px;
}
.pp{

  width: 25%;
  transition: width 0.8s;

}
.pp:hover{
  width: 60%;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #272833;
  width: 10%;
border-width: 22px;
transition: width 0.4s, border-color 1.7s;
}
hr:hover{

  width: 25%;
  border-color: #6f73a1;



}
.w{
  font-size: 2.0rem;
  text-align: center;
}
.skills{
  width: 50%;
  margin: 100px auto;
}
.skill1 {
  margin: 50px auto;
  padding-bottom: 70px;
}
.skill2 {
  margin: 50px auto;
}
.skillparas{
  text-align: left;
  line-height: 1.5;
}
.profile{
  margin: 50px auto;
  width: 50%;
  padding-bottom: 50px;
}
.contact-me{
  width: 50%;
  margin: 100px auto;
}

.btn {
  background: #0c588a;
  background-image: -webkit-linear-gradient(top, #0c588a, #003657);
  background-image: -moz-linear-gradient(top, #0c588a, #003657);
  background-image: -ms-linear-gradient(top, #0c588a, #003657);
  background-image: -o-linear-gradient(top, #0c588a, #003657);
  background-image: linear-gradient(to bottom, #0c588a, #003657);
  -webkit-border-radius: 22;
  -moz-border-radius: 22;
  border-radius: 22px;
  font-family: Arial;
  color: #ffffff;
  font-size: 24px;
  padding: 9px 16px 11px 17px;
  text-decoration: none;


}

.btn:hover {
  background: #00085c;
  background-image: -webkit-linear-gradient(top, #00085c, #000326);
  background-image: -moz-linear-gradient(top, #00085c, #000326);
  background-image: -ms-linear-gradient(top, #00085c, #000326);
  background-image: -o-linear-gradient(top, #00085c, #000326);
  background-image: linear-gradient(to bottom, #00085c, #000326);
  text-decoration: none;
}
.btndiv{
  position: relative;
  top: 150px;

  height: 100px;

  padding: inherit;
}
a{
margin: 10px 20px;
color: #0c588a;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
  text-decoration: none;
  transition: color 0.5s;
}
a:hover{
  color: #dedede;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;

}
.copyright{
  position: relative;
  top: 20px;


}
